<div fxLayout="column" fxLayoutAlign="center center" class="profile">
  <div class="profile-picture">
    <img
      class="profile-image"
      src="./../../assets/img/okello.jpg"
      alt="profile-picture"
      loading="lazy"
    />
  </div>
  <div class="profile-name">Emanuel Okello</div>
  <div class="profile-location">Kampala, Uganda</div>
  <div class="profile-skills">JavaScript | Ruby | Python | Databases</div>
  <div class="profile-connections">
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </div>
</div>
